body {
  padding: 20px 150px 25px 150px;
}

aside {
  position: absolute;
  left: 65%;
  padding: 8px;
  border-color: black;
  border-width: 2px;
  background-color: #eeee;
}

h1 {
  text-align: center;
}

.small {
  font-size: 12px;
}

#cert {
  display: none;
}

.sub {
  font-size: 8px;
}