body {
  padding: 20px 150px 25px 150px;
}

aside {
  position: absolute;
  left: 70%;
  padding: 8px;
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
  background-color: #8b90a1ee;
}

h1 {
  text-align: center;
}

.small {
  font-size: 12px;
}

.cert {
  display: block;
}

.sub {
  font-size: 8px;
}

ul {
  list-style-type: none;
}