body {
  padding: 20px 200px 25px 200px;
}

aside {
  position: absolute;
  left: 650px;
  padding: 8px;
  border-color: black;
  border-width: 2px;
  background-color: #eeee;
}

h1 {
  text-align: center;
}